@import 'base/typography';
@import 'base/base';

/* custom properties */
:root {
--fontSize: 1rem;
--fontSize: 1rem;
--mainColor: #12345678;
--highlightColor: hwb(190, 35%, 20%);
}

/* custom media queries */
@custom-media --viewport-medium (width <= 50rem);

/* some var() & calc() */
body {
color: var(--mainColor);

font-size: var(--fontSize);
line-height: calc(var(--fontSize) * 1.5);
padding: calc((var(--fontSize) / 2) + 1px);
}

/* custom media query usage */
@media (--viewport-medium) {
body { font-size: calc(var(--fontSize) * 1.2); }
}

/* custom selectors */
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
:--heading { margin-top: 0 }

/* colors stuff */
a {
color: var(--highlightColor);
transition: color 1s; /* autoprefixed ! */
}
a:hover { color: gray(255, 50%) }
a:active { color: rebeccapurple }
a:any-link { color: color(var(--highlightColor) blackness(+20%)) }

/* font stuff */
h2 {
font-variant-caps: small-caps;
}

table {
font-variant-numeric: lining-nums;
}

/* filters */
.blur {
filter: blur(4px);
}
.sepia {
filter: sepia(.8);
}

.helloworld {
	display: flex;
	margin: 0;
	padding: 0;
	@extend %font-1;
}

.container-custom {
	width: 100vh;
	@extend %font-1;
	opacity: 0.9;
	p {
		margin-top: 10px;
		padding: 10rem;
		transition: all .3s ease-out;
	}
	a {
		text-decoration: none;
		&:hover {
			background-color: #fff;
		}
	}
	html & {
		padding: 0;
		width: calc(100% / 2);
		color: rgba(green, .5);
		background-color: lighten(#000, 10%);
		color: gray(255, 50%);
	}
}
